/*Scroll bar smooth*/
html {
  scroll-behavior: smooth;
}


.section-divider {
  border: none;
  height: 3px;
  margin: 3rem 0;
  background: linear-gradient(to right, transparent, #DAAB3A, transparent);
  border-radius: 50px;
}

/* Taille fixe pour les gifs */
#exp-img {
  width: 341px;   /* même largeur */
  height: 341px;  /* même hauteur */
  object-fit: cover; /* rogne si nécessaire mais garde la cohérence */
  border-radius: 12px; /* arrondir un peu pour un style clean */
}

/* Labels expérience */
#work-experience-section label {
  display: block;
  margin: 2rem 0; /* espace entre chaque */
  cursor: wait;
  transition: all 0.3s ease;
}

/* Effet brillance au hover */
#work-experience-section label:hover {
  filter: brightness(1.3);
  transform: scale(1.02); /* petit zoom subtil */
  color: #B67332; /* tu peux choisir une autre couleur accent */
}



/* Custom Hero */
.hero.is-primary {
  background-color: #EEE6D8;
}

/* Custom primary button */
.button.is-primary {
  background-color: #e5e7e6; 
}

/* Custom hover Links */
a:hover {
  color: #EEE6D8;
}

/* Custom size cards */
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Force card-content to take the reste of the size from card */
.card-content {
  flex-grow: 1;
}

/* Custom card image size */
.card-image figure.image img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}


/* Notifications / badges */
.is-info { background-color: #DAAB3A; color: white; }
.is-success { background-color: #B67332; color: white; }
.is-warning { background-color: #93441A; color: white; }
.is-danger { background-color: #DC2626; color: white; }




